<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../css/0401.css">
</head>
<body onload="alert('hahahaha')">
    <h1>人物简历</h1>
    <h2>基本信息</h2>
        <ul>
            <img src="../img/人物.jpeg"width="304" height="228">
            <li>姓名：托尼托尼·乔巴</li>
            <li>邮箱：xxx@163.com</li>
            <li>我的GitHub：<a href="https://github.com/WangkaiAN">github</a> </li>
            <li>我的博客：<a href="https://blog.csdn.net/weixin_45070922" >CSDN</a></li>
        </ul>
    <h2>教育背景</h2>
        <ol>
            <li>2005~2010 XXX小学</li>
            <li>2010~2013 XXX初中</li>
            <li>2018~2022 XXX大学</li>
        </ol>
    <h2>我的项目</h2>
    <ol>
        <li>
            <h3>项目名称：留言墙</h3>
            <p>项目简介：主要说业务</p>
            <p>开发环境：windows，mysql，maven</p>
            <p>技术栈：技术关键词</p>
            <p>项目描述：说明技术实现</p>
            <ul>
                <li>1. 使用xxx技术实现了xxx功能</li>
                <li>2. 使用xxx技术实现了xxx功能</li>
            </ul>
        </li>
    </ol>
    <h2>个人评价</h2>
        <p>在校期间，学习成绩优良，多次获得奖学金。</p>
</body>
</html>